{% load static %}
<!DOCTYPE html>
<html>
	
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Right Away">
	<!-- <link rel="icon" href="{% static "images/favicon.ico" %}">  -->
	
	
	<title>Borras</title> {% block extra_headers %} {% endblock %}

</head>

<body>

  {% block content %} {% endblock %}

</body>
</html>